.light {
  .logo {
    font-family: "Hammersmith One";
    font-weight: 700;
    color: #3743ab;
    span {
      color: #e89221;
      font-size: 30x;
    }
  }

  .normal {
    font-size: xx-large;
  }

  .small {
    font-size: medium;
  }
}

.dark {
  .logo {
    font-family: "Hammersmith One";
    font-weight: 700;
    color: #e89221;
    span {
      color: #bee48c;
      font-size: 30x;
    }
  }

  .normal {
    font-size: xx-large;
  }

  .small {
    font-size: large;
  }
}

.link-home {
  text-decoration: none;
}
