.branch-container {
  .section {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0%;
    // background-color: #3743ab;
    color: #3743ab;
    height: 3.5rem;
    width: fit-content;
    border-bottom: 4px solid #e89221;
  }

  .branch-img {
    background: url("../../assets/images/branch-img.jpg") center center no-repeat;
    background-size: contain;
    // width: 30vw;
    height: 30vh;
  }
  .service-img {
    background: url("../../assets/images/doctor-img.jpg") center center no-repeat;
    background-size: contain;
    // width: 30vw;
    height: 40vh;
  }

  .branch-card {
    .card-body {
      background-color: #ffffff;
      .branch-title {
        font-weight: 700;
        color: #3743ab;
      }
    }

    .paragraph {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
