.footer {
  //   height: 12vh;
  background-color: #3743ab;
  margin-top: 3rem;
  //   padding-top: 2rem;
  .logo {
    text-align: right;
  }
  .text {
    color: aliceblue;
    text-align: left;
    padding-top: 1.3rem;
  }
}
