.multi-step {
  display: flex;
  justify-content: center;
  text-align: center;
  ol {
    padding-left: 0;

    li {
      padding-left: 0;
      color: #3743ab;
      font-weight: bold;
    }

    .go433304200:before {
      background-color: #3743ab;
      border-radius: 10px;
      width: 20px;
    }

    .go3842760039:before {
      background-color: #3743ab;
      border-radius: 10px;
      width: 20px;
    }

    .go2791332690:before {
      left: 45%;
    }
  }

  button {
    margin: 5px 0;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #3743ab;
    background: whitesmoke;
    color: #3743ab;
    font-size: 12px;
    margin-top: 20px;
  }
}
