.register-background {
  background: #3743ab;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .register-container {
    border-radius: 7px;
    background-color: whitesmoke;
    width: 350px;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .register-content {
      padding: 20px 50px;

      input:focus,
      select:focus {
        border-color: #3743ab; //#28a745
        box-shadow: 0 0 0 0.2rem #9fa2c0;
      }

      .text-login {
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        padding-top: 10px;
        margin-bottom: 10px;
      }

      .logo {
        text-align: center;
        margin-bottom: 15px;
      }

      .form-check {
        margin: 10px auto;
        .form-check-input {
          margin-right: 5px;
        }
      }

      .login-input {
        margin: 10px 0;
        margin-bottom: 10px !important;
        text-align: left !important;
        label {
          margin-bottom: 5px;
        }

        .custom-input-password {
          position: relative;
          i {
            position: absolute;
            right: 10px;
            top: 10px;
            color: grey;
            cursor: pointer;
          }
        }
      }

      .btn-register {
        width: 60%;
        margin: 10px 0;
        height: 35px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #3743ab;
        color: whitesmoke;
        font-size: 17px;
        margin-top: 20px;
      }

      .btn-register:hover {
        background: #4b57ca;
      }

      .link-text {
        font-size: 12px;
        color: #3743ab;
      }
      .nav-login {
        font-size: 12px;
      }
    }
  }
}

.register-background::before {
  content: "";
  background: url("../../assets/images/register.jpg") left center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
}

// button navigating to login page in register success modal
.modal-footer {
  .patient-register-success {
    .btn {
      width: 65px;
      margin: 10px 0;
      height: 35px;
      border-radius: 15px;
      outline: none;
      border: none;
      background: #3743ab;
      color: whitesmoke;
      font-size: 13px;
      margin-top: 20px;
    }

    .btn:hover {
      background: #4b57ca;
    }
  }
}
